<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<ul class="nav nav-list">
				<li class="nav-header">Genel</li>
				<li>
				<a href="/article">
					<i class="icon-home"></i>
					Ana Sayfa
				</a>
				</li>

				<li>
				<a href="/article">
					<i class="icon-book"></i>
					Makaleler
				</a>
				</li>
				<li class="nav-header">Kullanıcı</li>
				<li>
				<a href="/moderator/personal">
					<i class="icon-user"></i>
					Profil
				</a>
				</li>

				<li>
				<a href="#">
					<i class="icon-wrench"></i>
					Ayarlar
				</a>
				</li>
			</ul>
		</div>
		<div class="span8">
			<table class="table">
					<thead>
						<tr>
							<th>Yayımlayan</th>
							<th>Makale Adı</th>
							<th>Tarih</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Faruk Can</td>
							<td>Ruby on Rails</td>
							<td>03-06-2012</td>
						</tr>
						<tr>
							<td>Rauf Özyurt</td>
							<td>Html</td>
							<td>03-06-2012</td>
						</tr>
						<tr>
							<td>Yunus Demiryürek</td>
							<td>Css</td>
							<td>03-06-2012</td>
						</tr>
						<tr>
							<td>Ali Uslucan</td>
							<td>Java Script</td>
							<td>03-06-2012</td>
						</tr>
						<tr>
							<td>Dursun Ali Gürsal</td>
							<td>Jquery</td>
							<td>03-06-2012</td>
						</tr>

					</tbody>
			</table>
		</div>
	</div>
</div>
