<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<ul class="nav nav-list">
				<li class="nav-header">Genel</li>
				<li>
				<a href="/article">
					<i class="icon-home"></i>
					Ana Sayfa
				</a>
				</li>

				<li>
				<a href="#">
					<i class="icon-th"></i>
					Kullan覺c覺lar
				</a>
				</li>
				<li class="nav-header">Kullan覺c覺</li>
				<li>
				<a href="/admin/profile">
					<i class="icon-user"></i>
					Profil
				</a>
				</li>

				<li>
				<a href="#">
					<i class="icon-wrench"></i>
					Ayarlar
				</a>
				</li>
			</ul>
		</div>
		<div class="span8">

		</div>
	</div>
</div>
