<form action="/admin/sign_in" method="post" class="form-horizontal" >
  <fieldset>
    <legend>Yönetici Girişi</legend>
    <div class="control-group">
      <label class="control-label" for="input03">E-mail</label>
      <div class="controls">
        <input type="text" class="input-xlarge required email" id="input03" name="email">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input02">Parola</label>
      <div class="controls">
        <input type="password" class="input-xlarge required" id="input02" name="password">
      </div>
    </div>
  </fieldset>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">Giriş</button>
  </div>
</form>
