<div class="hero-unit">
	<center>
		<p>
		Üniversite öğrencilerinin ve öğretim üyelerinin çeşitli makaleler gönderebileceği ve okuyabileceği, bu şekilde edebi kavrayışı artıracak bir Çevrimiçi Üniversite Dergisi oluşumudur.
		</p>
	</center>
</div>
