<div class="hero-unit">
	<center>
		<p>
		Çevrimiçi Üniversite Dergisi Portalı<br />
		<br />
		faruk.can@bil.omu.edu.tr<br />
		<br />
		<a href="/">e-dergi</a><br />
		<br />
		</p>
	</center>
</div>

