<div class="container-fluid">
	<div class="row-fluid">
			<div class="span2">
				<a href="/user/new_paper">makale ekle</a>
			</div>
			<div class="span8">
				<% Article.all.each do |article| %>
					<table class="table table-bordered">
						<thead>
							<th>
								<%= article.article_name %>
							</th>
						</thead>
						<tbody>
							<tr>
								<td>
									<%= article.article_content %>
								</td>
							</tr>
						</tbody>
					</table>
					<br />
				<% end %>
			</div>
	</div>
</div>
