<form class="well" action="/user/new_paper_save" method="post" accept-charset="utf-8">
	<label>Başlık
		<input type="text" name="article_name" style="width: 800px;"/>
	</label>
	<p>
	<label >Makale
		<textarea name="article_content" style ="width: 800px; height: 300px;"></textarea>
	</label>
	</p>
	<div class="form-actions">
		<button type="submit" class="btn btn-success">yayımla</button>
	</div>
</form>
